body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	background: #450307;
	overflow-x: hidden;
}

/*CABECERA*/
header{
	text-align: center;
	background: #450307;
	padding: 20px 0;
}
.header_title{
	margin: 0;
  font-size: 2em;
  padding-bottom: 20px;
	color: #f4bf1b;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 6px;
}

/*SECCIÓN BUSCAR*/
.search_container {
	background: #efac20;
  display: flex;
  align-items: center;
	justify-content: center;
	flex-direction: column;
	width:83%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	border-radius: 2px;
}

.search_container h4 {
  font-size: 1.09em;
  font-weight: 500;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 2px;
  color: #450307;
	text-align: center;
}

#search {
    border: none;
    border-bottom: 1.5px solid #450307;
    background: #efac20;
		padding:5px 0;
		margin-bottom: 10px;
}

::-webkit-input-placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #450307;;
    opacity: 0.7; /* Firefox */
		text-align: center;
}

.search_container img {
    width: 25px;
    height: auto;
    padding-bottom: 10px;
}

/*SECCIÓN PERSONAJES*/
.characters_container{
	text-align: center;
	color:white;
	background: #450307;
font-family: 'Roboto', sans-serif;
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 15px;
	margin-bottom: 20px;
	padding: 0;
	justify-content: center;
}
.character_name{
	font-size: 1.5em;
}
.character_img_container{
	width: 250px;
	height: 250px;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: cover;
	margin: 0 auto;
	margin-bottom: 10px;
	border-radius: 5px;
	transition: all 0.5s ease;
}
.character_img{
	width: 0;
	height: 0;

}
.character_img_container:hover{
	box-shadow: 0px 5px 20px rgba(244,191,27,0.30);
  transform: scale(1.1);
}
.character_alive{
	font-size: 24px;
	margin: 0;
	margin-bottom: 15px;
}
.house {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.img--Gryffindor{
	background-image: url('./images/Gryffindor.png');
	background-repeat: no-repeat;
}
.img--Hufflepuff{
	background-image: url('./images/Hufflepuff.png');
	background-repeat: no-repeat;
}
.img--Ravenclaw{
	background-image: url('./images/Ravenclaw.png');
	background-repeat: no-repeat;
}
.img--Slytherin{
	background-image: url('./images/Slytherin.png');
	background-repeat: no-repeat;
}
.character_house{
	font-weight: 500;
}
.nTitle{
	font-family: 'Source Sans Pro', sans-serif;
	color: #efac20;
	font-size: 1.1em;
}

/*MEDIAQUERIES*/
@media all and (min-width:768px) {
	.search_container {
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: row;
    max-width: 650px;
	}
	.search_container h4 {
	  font-size: 1.2em;
	}
	#search {
		margin-left: 20px;
  }
	.search_container img {
	  margin-left: 20px;
	  padding-bottom: 10px;
	}
	.characters_container{
		padding-top: 30px;
		justify-items: center;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(6, 1fr);
		min-width: 100%;
		grid-gap: 15px;
	}
	.header_title{
	  font-size: 2.8em;
	}
}
