body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
	background: #450307;
	overflow-x: hidden;
}
/*CABECERA*/
header{
	text-align: center;
	background: #450307;
	padding: 20px 0;
}

.header_title{
	margin: 0;
  font-size: 2em;
  padding-bottom: 20px;
	color: #f4bf1b;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 6px;
}

/*SECCIÓN BUSCAR*/
.search_container {
	background: #efac20;
  display: flex;
  align-items: center;
	justify-content: center;
	flex-direction: column;
	width:83%;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	border-radius: 2px;
}

.search_container h4 {
  font-size: 1.09em;
  font-weight: 500;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 2px;
  color: #450307;
	text-align:
}

#search {
    border: none;
    border-bottom: 1.5px solid #450307;
    background: #efac20;
		padding:5px 0;
		margin-bottom: 10px;
}

::-webkit-input-placeholder{ /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #450307;;
    opacity: 0.7; /* Firefox */
		text-align: center;
}

.search_container img {
    width: 25px;
    height: auto;
    padding-bottom: 10px;
}

#search:focus {outline:0;}
#search:active {outline: none;}

#search_btn {
    background: #450307;
    color: #efac20;
    border: none;
    padding: 5px;
    /* margin-left: 10px; */
    border-radius: 2px;
    font-weight: bold;
		margin-bottom: 10px;
		font-size: 0.7em
}

#search_btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		cursor:pointer;
		background: #2b0205;
}

#search_btn:focus {outline:0;}
#search_btn:active {outline: none;border: none;}

/*SECCIÓN PERSONAJES*/
.characters_container{
	text-align: center;
	color:white;
	background: #450307;
font-family: 'Roboto', sans-serif;
	list-style-type: none;
	display: grid;
	/* width: 180px;
	margin:0 auto; */
	grid-template-columns: 1fr;
	grid-gap: 15px;
	margin-bottom: 20px;
	padding: 0;
	justify-content: center;
}

.nTitle{
	font-family: 'Source Sans Pro', sans-serif;
	color: #efac20;
}
/* .character_item{
	min-width: 250px;
	grid-column:span 12;
} */

.character_name{
	font-size: 1.5em;
}
.character_house{
	font-weight: 500;
}
/*.character_alive{
	text-decoration: line-through;
}*/

.character_img{
	width: 250px;
  height: 250px;
	transition: all 0.5s ease;
}
.character_img:hover{
	-webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

/*MEDIAQUERIES*/
@media all and (min-width:768px) {
	.search_container {
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: row;
    max-width: 650px;
	}
	.search_container h4 {
	  font-size: 1.2em;
	}
	#search {
		margin-left: 20px;
  }
	.search_container img {
	    margin-left: 20px;
	    padding-bottom: 10px;
	}
	#search_btn {
  	margin-left: 10px;
  }
	.characters_container{
		padding-top: 30px;
		justify-items: center;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(6, 1fr);
		min-width: 100%;
		grid-gap: 15px;
	}
	/* .character_item{
		grid-column:span 3;
	} */
	.header_title{
	  font-size: 2.8em;
	}
}
